<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<!-- HEADER -->
	<header th:replace="~{fragments :: navigationMain}"></header>

	<!-- MAIN -->
	<main>
		<h1 th:text="'Best of the year by ' + ${nome}"></h1>
		<div class="my_container">
			<img class="heading">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue enim velit, non ultricies urna tincidunt non. Praesent mollis ante ac mauris sagittis, a varius sem tristique. Vivamus et lobortis metus, a ultrices dolor. Maecenas a nisl nunc. Vivamus ut massa justo. Ut dui massa, porttitor vitae ex non, accumsan facilisis arcu. Etiam id lacinia odio, vel malesuada sem. Aenean augue sem, viverra vitae turpis ac, tempor interdum mi. Suspendisse faucibus ligula eu arcu tincidunt, ut auctor risus lacinia. Integer vel ultrices eros. Fusce eget scelerisque ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vel lorem tincidunt tellus ornare gravida. Cras velit est, porta in nibh ac, eleifend ornare neque. Maecenas elementum vel lacus vitae hendrerit.</p>
		</div>
	</main>
	
	
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>