<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movies</title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<!-- HEADER -->
	<header th:replace="~{fragments :: navigationMain}"></header>
	
	<!-- MAIN -->
	<main class="container">
		<h1>Best Movies</h1>
		<ul>
			<li th:each="movie : ${bestMovies}">
				<a th:text="${movie.title}" th:href="@{'/movies/'+${movie.id}}"></a>
			</li>
		</ul>
	</main>
	
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>