<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${movie.title}"></title>

<th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
	<!-- HEADER -->
	<header th:replace="~{fragments :: navigationMain}"></header>
	
	<!-- MAIN -->
	<main class="container">
		<img th:alt="|cover ${movie.title}|" th:src="@{${movie.coverPath}}">
		<h1 th:text="${movie.title}" class="title"></h1>
	</main>
	
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>