<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${song.title}"></title>

<div th:replace="~{fragments :: head}"></div>
</head>
<body>
	<!-- HEADER -->
	<header th:insert="~{fragments :: navigationMain}"></header>
	
	<!-- MAIN -->
	<main class="container">
		<img th:alt="|cover ${song.title}|" th:src="@{${song.coverPath}}" width="300">
		<h1 th:text="${song.title}" class="title"></h1>
	</main>
	
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>